/* Big Tablet */
@media only screen and (max-width: 1200px) {
    .row{
        padding: 0 2%;
    }
    .store{
        height: 45px;
    }
}

/* Small Table */
@media only screen and (max-width: 1023px) {
    body {font-size: 18px;}
    section{padding: 60px, 0;}
    
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    
    .store{
        height: 10px;
    }
}

/* Big Phone */
@media only screen and (max-width: 767px) {
    
}

/* Small Phone */
@media only screen and (max-width: 480px) {
    
}